body {
    background: #0a3b5c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9655eb 0%, #641c33 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2dd8cf 0%, #f02867 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }